<li>
    <%= link_to(domain, data: { turbo_frame: '_top'}) do %>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-text-center">
        <%= domain %>
      </div>
    <% end %>
</li>
