<p style="color: green"><%= notice %></p>

<h1>Domains</h1>

<p>
  These are the internet domains that you control.
  Click on one to manage its mailboxes and forwardings.
</p>

<div id="domains">
  <ul class="uk-grid-small uk-child-width-1 uk-child-width-1-4@m uk-child-width-1-2@s" uk-grid>
  <%= render @domains %>
</div>
